// Fonts
$roboto: 'Roboto', sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;

// Colors
$white: #FFF;
$blackDark: #000;
$blackLight: #111;
$grey: #727272;
$greyDark: #171717;
$mainOrange: #FFAB1D;
$mainOrangeOpacity: #FFAB1DB3;
$mainRed: #F8501C;
$mainRedOpacity: #F8501CB3;
$mainGradient: linear-gradient(90deg, #FFAB1D 0%, #F8501C 100%);

$scrollBarTrack: #333;
$scrollBarThumb: #777;
$scrollBarThumbHover: #555;
$scrollBarCorner: #fff3;