<section class="golden-grid hero-section">

	<Header :headerLinks="headerLinks" @mainSlideChange="sendToMainPage"></Header>

	<div class="hero-section__blur"></div>

	<div class="hero-section__back-image">
		<picture>
			<source srcset="/images/unsplash_black_white_2.webp" type="image/webp">
			<img src="/images/unsplash_black_white_2.jpg" alt="my photo">
		</picture>
	</div>

	<h1>Hello,<br />
		I am Vlad Savilo,<br />
		fullstack developer;</h1>

	<div class="hero-section__button">
		<button @click="sendToMainPage('contacts')">Contact Me</button>
	</div>
			
	<div class="social">
		<span>My social media:</span>
		<ul>
			<li>
				<a target="_blank" href="https://www.linkedin.com/in/vlad-savilo-924563180/">
					<object type="image/svg+xml" data="/icons/linkedin.svg">
						<img src="/icons/linkedin.svg">
					</object>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://t.me/Vlad_Savilo">
					<object type="image/svg+xml" data="/icons/telegram.svg">
						<img src="/icons/telegram.svg">
					</object>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100033695974101">
					<object type="image/svg+xml" data="/icons/facebook.svg">
						<img src="/icons/facebook.svg">
					</object>
				</a>
			</li>
		</ul>
	</div>

	<div class="resume">
		<object type="image/svg+xml" data="/icons/download.svg" width="24" height="24">
			<img src="/icons/download.svg">
		</object>
		<span>Download resume</span>
	</div>


</section>