

.skills {
    &-section {
        background-color: $blackDark;
        overflow: hidden;

        h2 {
            grid-area: 5 / 8 / span 1 / span 6;

            font-family: $ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;

            text-align: center;
            text-transform: uppercase;

            color: $white;
        }

        &__main-swiper {
            grid-area: 7 / 5 / span 9 / span 12;
            display: flex;
            width: 100%;

            .skills-swiper {
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;

                &__slide {
                    display: flex;
                    overflow: hidden;

                    &-content {
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        margin: 8px;
                        background: $greyDark;
                        background-position: bottom right;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        display: grid;
                        grid-template-rows: 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr;
                        overflow: hidden;
                        position: relative;
                    
                        h3 {
                            grid-area: 2 / 1;
            
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
            
                            font-family: $ubuntu;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 48px;
                            line-height: 58px;
                            color: $white;
            
                            position: relative;
            
                            &:after {
                                content: "";
                                display: flex;
                                width: 48px;
                                height: 48px;
            
                                background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 36L30 24L18 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            }

                            @media (max-width: 1200px) {
                                font-size: 36px;
                                line-height: 42px;
                            }
                        }
            
                        h4 {
                            grid-area: 3 / 1;
                            font-family: $ubuntu;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 48px;
                            line-height: 58px;
            
                            span {
            
                                background: $mainGradient;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                color: $white;
                            }
                        }
            
                        h5 {
                            grid-area: 4 / 1;
            
                            font-family: $roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 30px;
                            color: $grey;
                        }

                        h3, h4, h5 {
                            margin-left: 40px;
                            text-transform: uppercase;
                            transition: margin-left .2s ease-in-out, font-size .2s linear, line-height .2s linear;

                            @media (max-width: 1300px) {
                                & {
                                    margin-left: 30px;
                                }
                            }

                            
                        }
            
                        &:after {
                            content: "";
                            position: absolute;
                            right: -80px;
                            bottom: 0;
                            width: 250px;
                            height: 250px;
                            transform: rotate(-20deg);
                            background-size: cover;
                        }

                        &-frontend {
                            &:after {
                                background-image: url("/icons/monitor.svg");
                            }
                        }
                        &-backend {
                            &:after {
                                background-image: url("/icons/settings.svg");
                            }
                        }
                        &-other {
                            &:after {
                                background-image: url("/icons/head.svg");
                            }
                        }
                    }
                }
            }
        }
    }

    

    &-content {
        &__info {
            display: grid;
            @include golder-grid-row;
            grid-template-columns: 1fr 1fr 2fr 4fr 2.66fr 5.33fr;
            grid-area: 1 / 1 / span 20 / span 6;
            background-color: $greyDark;

            padding-right: 44px;
            
            @media (max-width: 1200px) {
                & {
                    padding-right: 36px;
                }
            }
        }

        &-swiper {
            grid-area: 6 / 3 / span 10 / span 4;

            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;

            color: $white;

            display: flex;
            width: 100%;

            &__navigation {
                grid-area: 18 / 3 / span 1 / span 4;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__title {
            grid-area: 5 / 8 / span 1 / span 10;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            h3 {
                font-family: $ubuntu;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 58px;

                text-transform: uppercase;

                color: $white;

                margin-left: 16px;
            }
        }

        &__icons {
            grid-area: 7 / 8 / span 11 / span 9;
            display: grid;
            margin: 0;

            grid-template: "pos0 pos2 pos2 pos2 pos7 pos7"
                           "pos1 pos1 pos3 pos3 pos6 pos6"
                           "pos8 pos4 pos4 pos4 pos5 pos5";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            @include position('pos0', 'flex-end', 'flex-end');
            @include position('pos1', 'center', 'flex-end');
            @include position('pos2', 'flex-end', 'center');
            @include position('pos3', 'center', 'center');
            @include position('pos4', 'flex-start', 'center');
            @include position('pos5', 'flex-start', 'flex-start');
            @include position('pos6', 'center', 'flex-start');
            @include position('pos7', 'flex-end', 'flex-start');
            @include position('pos8', 'flex-start', 'flex-end');
            @include position('pos9', 'flex-start', 'center');
            @include position('pos10', 'flex-end', 'flex-start');
            @include position('pos11', 'flex-start', 'center');

            &-tech {
                display: flex;
                flex-direction: row;
                position: relative;
                margin: 0;

                transition: opacity 0.3s ease-in-out;
                opacity: 0.5;

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .title {
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 30px;

                    color: $white;

                    text-align: center;

                    margin-bottom: 15px;

                    transform: translateY(20px);
                    transition: transform 0.2s ease-in-out;
                }

                .circle {
                    display: flex;
                    border-radius: 50%;
                    position: relative;
                    background: $mainGradient;
                    box-shadow: -6px -6px 16px rgba(84, 84, 84, 0.4), 6px 6px 16px rgba(84, 84, 84, 0.4);
                    margin: 25px;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    picture {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        * {
                            height: 100%;
                            max-width: 100%;
                            object-position: center;
                            object-fit: contain;
                        }
                    }

                    &.size-3 {
                        width: 90px;
                        height: 90px;

                        picture {
                            width: 36px;
                            height: 36px;
                        }
                    }
                    &.size-2 {
                        width: 70px;
                        height: 70px;

                        picture {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &.size-1 {
                        width: 50px;
                        height: 50px;

                        picture {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: -25px;
                        left: -25px;
                        bottom: -25px;
                        right: -25px;

                        border: 3px solid $white;
                        border-radius: 50%;

                        box-shadow: 0 0 6px 4px $mainOrangeOpacity, inset 0 0 5px 4px $mainOrangeOpacity;

                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                    }
                }

                &.active {
                    opacity: 1;

                    .title {
                        transform: translateY(0);
                    }

                    .circle {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
