

.skills {
    &-section {
        background-color: $blackDark;
        overflow: hidden;

        h2 {
            grid-area: 5 / 8 / span 1 / span 6;

            font-family: $ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;

            text-align: center;
            text-transform: uppercase;

            color: $white;
        }

        &__main-swiper {
            grid-area: 7 / 5 / span 9 / span 12;
            display: flex;
            width: 100%;

            .skills-swiper {
                &__slide {
                    background: $greyDark;
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    display: grid;
                    grid-template-rows: 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr;
        
                    overflow: hidden;
        
                    h3 {
                        grid-area: 2 / 1;
        
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
        
                        font-family: $ubuntu;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 58px;
        
                        text-transform: uppercase;
        
                        color: $white;
                        margin: 0 40px;
        
                        position: relative;
        
                        &:after {
                            content: "";
                            display: flex;
                            width: 48px;
                            height: 48px;
        
                            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 36L30 24L18 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
        
                    h4 {
                        grid-area: 3 / 1;
                        font-family: $ubuntu;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 58px;
        
                        text-transform: uppercase;
        
                        margin: 0 40px;
        
                        span {
        
                            background: $mainGradient;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            color: $white;
                        }
                    }
        
                    h5 {
                        grid-area: 4 / 1;
        
                        font-family: $roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 30px;
        
                        text-transform: uppercase;
        
                        margin: 0 40px;
        
                        color: $grey;
                    }
        
                    &-frontend {
                        background-image: url("data:image/svg+xml,%3Csvg width='185' height='237' viewBox='0 0 185 237' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33628 109.85C6.86014 105.478 6.22249 100.3 7.5636 95.4573C8.90471 90.6144 12.1147 86.5026 16.4875 84.0265L148.387 9.33628C152.76 6.86015 157.937 6.2225 162.78 7.5636C167.623 8.90471 171.735 12.1147 174.211 16.4875L225.561 107.169C228.037 111.541 228.674 116.719 227.333 121.561C225.992 126.404 222.782 130.516 218.409 132.992L160.703 165.669L170.039 182.157L194.771 168.152C196.957 166.914 199.546 166.595 201.967 167.266C204.389 167.937 206.444 169.542 207.683 171.728C208.921 173.914 209.239 176.503 208.569 178.924C207.898 181.346 206.293 183.402 204.107 184.64L138.157 221.985C135.971 223.223 133.382 223.542 130.961 222.871C128.539 222.201 126.483 220.596 125.245 218.409C124.007 216.223 123.688 213.634 124.359 211.213C125.029 208.791 126.634 206.736 128.821 205.497L153.552 191.493L144.216 175.006L86.5096 207.683C82.1368 210.159 76.9595 210.796 72.1166 209.455C67.2737 208.114 63.1619 204.904 60.6858 200.531L9.33628 109.85ZM209.073 116.505L157.724 25.8237L25.8238 100.514L77.1733 191.195L209.073 116.505Z' fill='%232C2C2C'/%3E%3C/svg%3E%0A");
                    }
                    &-backend {
                        background-image: url("data:image/svg+xml,%3Csvg width='173' height='244' viewBox='0 0 173 244' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M202.866 171.434C202.156 169.112 202.317 166.61 203.317 164.397C204.317 162.183 206.088 160.41 208.301 159.407L225.892 151.557C227.825 150.704 229.439 149.261 230.5 147.435C231.562 145.608 232.018 143.492 231.803 141.391L227.827 101.63C227.621 99.5346 226.758 97.5578 225.362 95.9814C223.967 94.4049 222.109 93.3094 220.054 92.8508L201.36 88.5723C198.977 88.0377 196.871 86.6493 195.442 84.6691C194.012 82.6889 193.357 80.2539 193.599 77.8236L195.576 58.6379C195.783 56.552 195.328 54.4538 194.277 52.6401C193.227 50.8264 191.632 49.3888 189.72 48.5305L153.274 32.0606C151.334 31.059 149.119 30.72 146.969 31.0952C144.818 31.4705 142.849 32.5395 141.363 34.1389L128.725 48.5072C127.061 50.2951 124.801 51.4123 122.37 51.6478C119.939 51.8834 117.506 51.221 115.529 49.7856L99.5089 38.3765C97.8418 37.3201 95.8994 36.7807 93.9262 36.8263C91.9531 36.8718 90.0376 37.5003 88.4211 38.6326L55.9516 61.9233C54.2161 63.1212 52.9037 64.8371 52.2021 66.8257C51.5005 68.8143 51.4456 70.9738 52.0453 72.9955L57.6877 91.3453C58.3971 93.6681 58.2367 96.1698 57.2365 98.383C56.2364 100.596 54.4648 102.37 52.2526 103.372L34.7519 111.264C32.8383 112.15 31.2538 113.618 30.2249 115.459C29.196 117.299 28.7754 119.418 29.0233 121.512L32.9998 161.273C33.206 163.369 34.0685 165.345 35.4642 166.922C36.8599 168.498 38.7177 169.594 40.7727 170.052L59.4669 174.331C61.8501 174.865 63.9551 176.254 65.3848 178.234C66.8145 180.214 67.47 182.649 67.2276 185.08L65.2506 204.265C65.0323 206.438 65.5311 208.622 66.6708 210.484C67.8105 212.346 69.5284 213.784 71.5622 214.579L108.008 231.048C109.916 231.917 112.049 232.163 114.104 231.753C116.16 231.343 118.035 230.298 119.464 228.764L132.557 214.602C134.221 212.814 136.481 211.697 138.912 211.461C141.343 211.226 143.777 211.888 145.753 213.323L161.318 224.527C163.02 225.766 165.07 226.436 167.175 226.442C169.281 226.448 171.334 225.789 173.043 224.559L205.513 201.268C207.232 200.041 208.519 198.3 209.188 196.296C209.857 194.292 209.874 192.128 209.237 190.114L202.866 171.434ZM183.772 177.509L187.355 189.003L166.552 203.96L156.789 196.915C150.832 192.608 143.502 190.638 136.19 191.378C128.877 192.119 122.091 195.519 117.119 200.932L109.045 209.573L85.7196 199.032L87.1334 187.163C87.9111 179.854 85.9782 172.514 81.7015 166.536C77.4249 160.558 71.1022 156.358 63.9338 154.734L52.194 152.062L49.4487 126.573L60.4436 121.667C67.1908 118.681 72.6007 113.313 75.6391 106.589C78.6776 99.8658 79.1313 92.2581 76.9135 85.221L73.3301 73.7267L94.0512 58.9518L103.815 65.9972C109.771 70.3041 117.101 72.2742 124.414 71.5336C131.726 70.7929 138.513 67.3931 143.484 61.9795L151.599 53.2481L174.925 63.7889L173.693 75.7406C172.915 83.0495 174.848 90.3895 179.125 96.3674C183.402 102.345 189.724 106.545 196.893 108.169L208.633 110.841L211.154 136.339L200.16 141.245C193.468 144.242 188.106 149.586 185.086 156.268C182.067 162.95 181.599 170.506 183.772 177.509ZM146.792 94.9645C139.584 91.707 131.571 90.6602 123.768 91.9565C115.965 93.2528 108.721 96.8339 102.953 102.247C97.1853 107.66 93.152 114.662 91.3634 122.367C89.5748 130.073 90.1113 138.135 92.905 145.536C95.6987 152.936 100.624 159.342 107.058 163.943C113.493 168.544 121.147 171.134 129.053 171.385C136.959 171.636 144.762 169.537 151.476 165.353C158.189 161.169 163.511 155.089 166.768 147.88C171.136 138.214 171.486 127.209 167.739 117.285C163.993 107.362 156.458 99.3326 146.792 94.9645ZM122.087 149.633C118.483 148.005 115.443 145.344 113.351 141.987C111.259 138.631 110.209 134.729 110.335 130.776C110.46 126.823 111.755 122.996 114.056 119.779C116.356 116.561 119.559 114.099 123.26 112.702C126.96 111.305 130.991 111.037 134.844 111.931C138.696 112.825 142.197 114.842 144.904 117.726C147.61 120.61 149.401 124.232 150.049 128.133C150.697 132.035 150.174 136.041 148.545 139.645C146.361 144.478 142.347 148.246 137.385 150.119C132.423 151.992 126.92 151.817 122.087 149.633Z' fill='%232C2C2C'/%3E%3C/svg%3E%0A");
                    }
                    &-other {
                        background-image: url("data:image/svg+xml,%3Csvg width='161' height='200' viewBox='0 0 161 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M102.684 0C83.2579 0.00126654 64.4961 7.06882 49.8976 19.8843C35.2991 32.6999 25.8609 50.3882 23.3435 69.65L0.843521 105.04C-0.636475 107.37 -0.336472 110.84 3.09352 112.32L22.6835 120.7V150C22.6835 155.304 24.7907 160.391 28.5414 164.142C32.2921 167.893 37.3792 170 42.6835 170H62.6735L62.6835 200H152.684V163.06C152.684 151.26 157.044 140.09 165.124 130.01C174.546 118.245 180.453 104.058 182.164 89.0824C183.876 74.107 181.321 58.9528 174.796 45.3656C168.27 31.7785 158.039 20.3113 145.281 12.2851C132.523 4.25896 117.756 0.000371593 102.684 0ZM102.684 20C113.988 19.9995 125.062 23.1925 134.631 29.211C144.2 35.2295 151.874 43.8287 156.769 54.0181C161.664 64.2075 163.581 75.5724 162.299 86.8037C161.017 98.035 156.589 108.676 149.524 117.5C138.584 131.14 132.684 146.67 132.684 163.06V180H82.6835L82.6635 150H42.6835V107.52L27.1835 100.88L42.6135 76.63L43.1835 72.21C45.0766 57.7691 52.1569 44.5095 63.1043 34.9033C74.0517 25.2972 88.119 20.0002 102.684 20ZM102.684 50C100.031 50 97.4878 51.0536 95.6124 52.9289C93.7371 54.8043 92.6835 57.3478 92.6835 60V70H82.6835C80.0313 70 77.4878 71.0536 75.6124 72.9289C73.7371 74.8043 72.6835 77.3478 72.6835 80C72.6835 82.6522 73.7371 85.1957 75.6124 87.0711C77.4878 88.9464 80.0313 90 82.6835 90H92.6835V100C92.6835 102.652 93.7371 105.196 95.6124 107.071C97.4878 108.946 100.031 110 102.684 110C105.336 110 107.879 108.946 109.755 107.071C111.63 105.196 112.684 102.652 112.684 100V89.99L122.684 90C125.336 90 127.879 88.9464 129.755 87.0711C131.63 85.1957 132.684 82.6522 132.684 80C132.684 77.3478 131.63 74.8043 129.755 72.9289C127.879 71.0536 125.336 70 122.684 70L112.684 69.99V60C112.684 57.3478 111.63 54.8043 109.755 52.9289C107.879 51.0536 105.336 50 102.684 50Z' fill='%232C2C2C'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }

    

    &-content {
        &__info {
            display: grid;
            @include golder-grid-row;
            grid-template-columns: 1fr 1fr 2fr 4fr 2.66fr 5.33fr;
            grid-area: 1 / 1 / span 20 / span 6;
            background-color: $greyDark;

            padding-right: 44px;
            
            @media (max-width: 1200px) {
                & {
                    padding-right: 36px;
                }
            }
        }

        &-swiper {
            grid-area: 6 / 3 / span 10 / span 4;

            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;

            color: $white;

            display: flex;
            width: 100%;

            &__navigation {
                grid-area: 18 / 3 / span 1 / span 4;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__title {
            grid-area: 5 / 8 / span 1 / span 10;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            h3 {
                font-family: $ubuntu;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 58px;

                text-transform: uppercase;

                color: $white;

                margin-left: 16px;
            }
        }

        &__icons {
            grid-area: 7 / 8 / span 11 / span 9;
            display: grid;
            margin: 0;

            &.big-grid {   
                grid-template: "pos0 pos2 pos2 pos2 pos7 pos7 pos10 pos10"
                               "pos1 pos1 pos3 pos3 pos6 pos6 pos8 pos8"
                               "pos11 pos11 pos4 pos4 pos4 pos5 pos5 pos9";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }

            grid-template: "pos0 pos2 pos2 pos2 pos7 pos7"
                           "pos1 pos1 pos3 pos3 pos6 pos6"
                           "pos8 pos4 pos4 pos4 pos5 pos5";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            @include position('pos0', 'flex-end', 'flex-end');
            @include position('pos1', 'center', 'flex-end');
            @include position('pos2', 'flex-end', 'center');
            @include position('pos3', 'center', 'center');
            @include position('pos4', 'flex-start', 'center');
            @include position('pos5', 'flex-start', 'flex-start');
            @include position('pos6', 'center', 'flex-start');
            @include position('pos7', 'flex-end', 'flex-start');
            @include position('pos8', 'flex-start', 'flex-end');

            @include position('pos9', 'flex-start', 'center');
            @include position('pos10', 'flex-end', 'flex-start');
            @include position('pos11', 'flex-start', 'center');

            &-tech {
                display: flex;
                flex-direction: row;
                position: relative;
                margin: 0;

                transition: opacity 0.3s ease-in-out;
                opacity: 0.5;

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .title {
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 30px;

                    color: $white;

                    text-align: center;

                    margin-bottom: 15px;

                    transform: translateY(20px);
                    transition: transform 0.2s ease-in-out;
                }

                .circle {
                    display: flex;
                    border-radius: 50%;
                    position: relative;
                    background: $mainGradient;
                    box-shadow: -6px -6px 16px rgba(84, 84, 84, 0.4), 6px 6px 16px rgba(84, 84, 84, 0.4);
                    margin: 25px;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    picture {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        * {
                            height: 100%;
                            max-width: 100%;
                            object-position: center;
                            object-fit: contain;
                        }
                    }

                    &.size-3 {
                        width: 90px;
                        height: 90px;

                        picture {
                            width: 36px;
                            height: 36px;
                        }
                    }
                    &.size-2 {
                        width: 70px;
                        height: 70px;

                        picture {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &.size-1 {
                        width: 50px;
                        height: 50px;

                        picture {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: -25px;
                        left: -25px;
                        bottom: -25px;
                        right: -25px;

                        border: 3px solid $white;
                        border-radius: 50%;

                        box-shadow: 0 0 6px 4px $mainOrangeOpacity, inset 0 0 5px 4px $mainOrangeOpacity;

                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                    }
                }

                &.active {
                    opacity: 1;

                    .title {
                        transform: translateY(0);
                    }

                    .circle {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
