<div class="golden-grid contacts-section">

    <h2 class="contacts-section__title">Contacts</h2>
    <p class="contacts-section__description">Have some questiones or offers? Feel free to write me</p>

    <form class="contacts-section__form">
        <fieldset>
            <label>Your name</label>
            <input/>
        </fieldset>
        <fieldset>
            <label>Your message</label>
            <textarea/>
        </fieldset>
        <fieldset>
            <label>Your email</label>
            <div class="contacts-section__form-send">
                <input/>
                <button>Send</button>
            </div>
        </fieldset>
    </form>

    <div class="contacts-section__links">
        <div class="contacts-section__links-block">
            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/location.svg" width="24" height="24">
                    <img src="/icons/location.svg">
                </object>
                <span>Minsk, Belarus</span>
            </div>

            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/email.svg" width="24" height="24">
                    <img src="/icons/email.svg">
                </object>
                <a href="mailto:vladislavsav95@gmail.com">vladislavsav95@gmail.com</a>
            </div>

            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/phone.svg" width="24" height="24">
                    <img src="/icons/phone.svg">
                </object>
                <a href="tel:80291282462">+375 29 128 24 62</a>
            </div>
        </div>

        <div class="contacts-section__links-block">
            <h3>Social media</h3>

            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/linkedin.svg" width="24" height="24">
                    <img src="/icons/linkedin.svg">
                </object>
                <a target="_blank" href="https://www.linkedin.com/in/vlad-savilo-924563180/">vlad-savilo-924563180</a>
            </div>

            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/telegram.svg" width="24" height="24">
                    <img src="/icons/telegram.svg">
                </object>
                <a target="_blank" href="https://t.me/Vlad_Savilo">@Vlad_Savilo</a>
            </div>

            <div class="contacts-section__links-item">
                <object type="image/svg+xml" data="/icons/facebook.svg" width="24" height="24">
                    <img src="/icons/facebook.svg">
                </object>
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100033695974101">vlad-savilo</a>
            </div>
        </div>
            
    </div>
</div>